<h1 xmlns="http://www.w3.org/1999/html"> Olá <%= @o.nome %> </h1>

<p> O usuario <%= @nome %> se cadastrou no sistema para agendamento de citometros (FACS).
Se ele for seu aluno, clique neste <a href="http://localhost:3000/tipo_usuarios/new?id=<%= @u_id %>"> link </a>
para associa-lo aos citômetros que ele poderá usar. </p>

<p> Se este usuário não for seu aluno, por favor ignore e descarte este e-mail.</p>







