<h1 xmlns="http://www.w3.org/1999/html"> Recuperação de senha </h1>

<p> Olá <%= @usuario.nome %></p>


<p> Para resetar a senha, clique<a href="http://localhost:3000/senha_resets/<%= @usuario.senha_reset_token %>/edit">  aqui </a>
Se você não quiser resetar a senha, ignore este e-mail </p>

<!--

Mudar para esse caminho no servidor

<p> Para resetar a senha, clique <a href="< %= edit_senha_reset_url(@usuario.senha_reset_token) %>"> aqui </a>
Se você não quiser resetar a senha, ignore este e-mail </p>

-->