<% if session[:type_id] == 1 %>
    <div>
      <ul class="menuhor" align="center">
        <li> <%= link_to "Home", :controller => "calendar", :action => "index" %></li>
        <li> <%= link_to "Novo agendamento", :controller => 'events', :action => 'new' %></li>
        <li> <%= link_to "Lista de agendamentos", :controller => 'events', :action => 'newindex' %></li>
        <li> <%= link_to "Agendamentos do dia",:controller =>'events', :action=>'ver_dia'%></li>
        <li> <%= link_to "Logout", :controller => "login", :action => "logout" %></li>
      </ul>
    </div>


    <% elsif session[:type_id] == 0  %>
    <div>
      <ul class="menuhor" align="center">

        <li> <%= link_to "Home", :controller => "calendar", :action => "index" %></li>
        <li><%= link_to "Equipamentos", :controller => 'tipos', :action => 'index' %></li>
        <li><%= link_to "Usuarios", usuarios_path %></li>
        <li> <%= link_to "Lista de Agendamentos", :controller => 'events', :action => 'newindex' %></li>
        <li> <%= link_to "Agendamentos do mês",:controller =>'events', :action=>'ver_dia_adm'%></li>
        <li> <%= link_to "Orientadores", orientadores_path %></li>
        <li> <%= link_to "Logout", :controller => "login", :action => "logout" %></li>

      </ul>
    </div>

<% else %>
    <div align="center">
      <!--<ul class="menuhor" align="center">
        <li>< %= link_to "Home", :controller => "calendar", :action => "index" %></li>
        <li>< %= link_to "Novo evento", :controller => 'events', :action => 'new' %></li>
        <li>< %= link_to "Lista de eventos", :controller => 'events', :action => 'newindex' %></li>
        <li>< %= link_to "Eventos do dia",:controller =>'events', :action=>'ver_dia'%></li>
        <li>  < %= link_to "Login", :controller => 'login', :action => 'login' %> </li>
      </ul> -->


      <%= form_tag :controller => 'login', :action => "login" %>
      <p> E-mail <%=  text_field_tag "email", params[:email] %>
      Senha <%= password_field_tag "senha" %>
      <input type="submit" value="Acessar">
      <%= link_to "Esqueci a senha", :controller => "senha_resets", :action => "new" %>
      <%= link_to "Criar novo usuario", :controller =>  "usuarios", :action => "new" %>    </p>
    </div>
<% end %>