<%= render :partial => "menu" %>
<div id='calendar'></div>

<ul>
  <li class="desc">Configuração do FACSCalibur: Laser 488nm (filtros: 530/30, 585/42, 670LP), Laser 633nm (filtro 661/16)</li>
  <li class="desc">Configuração do FACSCanto: Laser 405nm (filtros: 450/50, 510/50), Laser 488nm (filtros: 530/30, 585/42, 670LP, 780/60), Laser 633nm (filtros: 660/20, 780/60)</li>
  <li class="desc">Configuração do LSR Fortessa: Lasers 405nm (filtros: 655/8, 605/12, 585/15, 560/20, 525/50, 450/50), 488nm (filtros: 780/60, 695/40, 610/20, 575/26, 530/30), e 640nm (filtros: 780/60, 730/45, 670/14).  </li>
</ul>

<a href="http://www.icb.usp.br/~imunoicb/?page_id=295">Mais informações </a>