<h1> Recuperação de senha</h1>

<% form_tag senha_resets_path, :method => :post do  %>
    <p> <%=  label_tag :email, "Digite seu e-mail" %>
      <%= text_field_tag :email, params[:email] %>   </p>
    <div class="actions"> <%= submit_tag "Enviar" %></div>
<% end %>