<%= form_for @usuario, :url => senha_reset_path(params[:id]) do |f| %>
    <div class="field">
      <%= f.label :senha, "Digite a senha" %>
      <%= f.password_field :senha %>
    </div>

    <div class="field">
      <%= f.label :senha_confirmation, "Confirme a senha" %>
      <%= f.password_field :senha_confirmation %>
    </div>
    <div class="actions"> <%= f.submit "Enviar" %></div>
<% end %>