<h2 align="center">Evento selecionado:</h2>

<% @agendamento = Agendamento.find(:all) %>
<% @event = Event.find(params[:id]) %>

<table id="tab_show_one" cellpadding="20" align="center">


  <tr class="par"><td>
    <b>Equipamento:</b>
    <% @tipo = Tipo.find(:all) %>
    <% @tipo.each do |t| %>
        <% if t.id == @event.tipo_id %>
            <%= t.nome %>
        <% end %>
    <% end %>
  </td></tr>

  <tr class="impar"><td>
    <b>Título:</b>
    <%= @event.title %>
  </td></tr>

  <tr class="par"><td>
    <b>Registrado para:</b>
    <%= @event.regpara %>
  </td></tr>

  <tr class="impar"><td>
    <b>Início em:</b>
    <%= @event.starts_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
  </td></tr>

  <tr class="par"><td>
    <b>Término em:</b>
    <%= @event.ends_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
  </td></tr>

  <tr class="par">
    <td><b>Descrição:</b>
    <%= @event.description %>
    </td></tr>
</table>

<p><%= link_to "voltar aos equipamentos", tipos_path   %></p>
<p><%= link_to "Voltar ao calendário", root_url   %></p>