<h1>Lista de usuarios:</h1>
<table>

  <tr>
    <td> Login</td>
    <td> Nome  </td>
    <td> Ultima atualização</td>

    <td></td>
  </tr>

  <% @usuario.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.nome %></td>
        <td><%= user.updated_at.strftime("%d/%m/%Y") %></td>

        <td><%= link_to 'Alterar permissões', :controller => 'tipo_usuarios', :action => 'new', :id => user.id    %></td>
      </tr>
  <% end %>

</table>


<p> <%= link_to "Criar novo usuario", new_usuario_path %></p>
<p> <%= link_to "voltar á tela inicial",  root_url %> </p>
