<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "erro") %> impediu o salvamento deste registro:</h2>

          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">

      <% @array = [] %>       <!-- cria um array que passa os parametros para a busca -->
      <% @sel = [] %>

      <% Tipo.find(:all).each do |t| %>           <!-- acha todos os tipos -->

          <% TipoUsuario.find(:all).each do |tu| %>                    <!-- acha os tipos em que o usuario pode  -->
              <% if t.id == tu.tipo_id && session[:usuario] == tu.usuario_id %>    <!--  fazer seus agendamentos -->

                  <% @array.push [t.nome, t.id]%>       <!-- recebe os valores do array -->

                  <% break %>                           <!-- quebra o loop -->
              <% end %>
          <% end %>
      <% end %>
      <%= f.label :tipo ,"Tipo de agendamento" %>   <br>

      <% @array.each do |tipotodos| %>
            <% @sel.push  tipotodos %>
      <%end%>

      <%= f.select :tipo_id, (@sel), :prompt => "Escolha um equipamento" %>        <!-- cria o combobox com os valores do array -->

    </div>

    <br/>

    <div class="field">
      <%= f.label :regpara, "Registrar para" %><br />
      <%= f.text_field :regpara, :value => session[:nome] %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :starts_at, "Inicia em" %><br />
      <%= f.datetime_select :starts_at, :minute_step => 15  %>
    </div>
    <br/>
    <div class="field">
      <%= f.label :ends_at, "Termina em" %><br />
      <%= f.datetime_select :ends_at, :minute_step => 15  %>
    </div>
    <br/>

    <br />
    <div class="field">
      <%= f.label :description, "Observações ao Responsável pelo Serviço de Citometria" %><br />
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit "Enviar" %>
    </div>
<% end %>