<% if session[:type_id] == 1 %>
    <!-- busca os agendamentos e cria a variavel para ser comparada -->
    <h1 id="events">Eventos do dia.</h1>

    <% agendamento = Agendamento.find(:all, :order => 'tipo_id, hora_inicio') %>

    <table cellpadding="5" cellspacing="5" border="2" align="center">
      <tr>
        <td><b>Equipamento:</b></td>
        <td><b>Data inicial:</b></td>
        <td><b>Data final:</b></td>
        <td><b>Horário Inicial:</b></td>
        <td><b>Horário final:</b></td>
        <td><b>Registrado para:</b></td>
        <td><b>Descrição:</b></td>

      </tr>


      <%agendamento.each do |agen| %>

          <!-- compara a variavel para achar os agendamentos do dia selecionado -->
          <%if agen.data_inicio.to_datetime.strftime("%d/%m/%Y") == @event.starts_at.to_datetime.strftime("%d/%m/%Y") %>

              <!-- busca no campo Events os eventos do dia selecionado e retorna para o html os valores necessários -->
              <% event = Event.find(:all) %>

              <% event.each do|ev| %>
                  <% if ev.id == agen.event_id %>
                      <tr>
                        <td>
                          <% @tipo = Tipo.find(:all) %>
                          <% @tipo.each do |t| %>
                              <% if t.id == ev.tipo_id %>
                                  <%= t.nome %>
                              <% end %>
                          <% end %>
                        </td>

                        <td><%= ev.starts_at.to_datetime.strftime("%d/%m/%Y") %></td>

                        <td><%= ev.ends_at.to_datetime.strftime("%d/%m/%Y") %></td>

                        <td><b><%= ev.starts_at.to_datetime.strftime("%H:%M") %></b></td>

                        <td><b><%= ev.ends_at.to_datetime.strftime("%H:%M") %></b></td>


                        <td><%= ev.regpara %></td>



                        <td><%= ev.description %></td>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
    </table>
    <br><br>
    <div id="rodape" align="center">
      <!--< %= link_to 'Voltar', events_path %> | -->
      <%= link_to 'ver calendario', calendar_index_path %> |
      <%= link_to 'Novo Evento', new_event_path %>
    </div>

<% elsif session[:type_id] == 0 %>
    <!-- busca os agendamentos e cria a variavel para ser comparada -->




    <% agendamento = Agendamento.find(:all, :order => 'tipo_id, hora_inicio') %>
    <table cellpadding="5" cellspacing="5" border="2" align="center">
      <tr>
        <td><b>Sala:</b></td>
        <td><b>Data inicial:</b></td>
        <td><b>Data final:</b></td>
        <td><b>Horário Inicial:</b></td>
        <td><b>Horário final:</b></td>
        <td><b>Registrado para:</b></td>
        <td><b>Descrição:</b></td>

      </tr>


      <%agendamento.each do |agen| %>

          <!-- compara a variavel para achar os agendamentos do dia selecionado -->
          <%if agen.data_inicio.to_datetime.strftime("%d/%m/%Y") == @event.starts_at.to_datetime.strftime("%d/%m/%Y") %>

              <!-- busca no campo Events os eventos do dia selecionado e retorna para o html os valores necessários -->
              <% event = Event.find(:all) %>

              <% event.each do|ev| %>
                  <% if ev.id == agen.event_id %>
                      <tr>
                        <td>
                          <% @tipo = Tipo.find(:all) %>
                          <% @tipo.each do |t| %>
                              <% if t.id == ev.tipo_id %>
                                  <%= t.nome %>
                              <% end %>
                          <% end %>
                        </td>

                        <td><%= ev.starts_at.to_datetime.strftime("%d/%m/%Y") %></td>

                        <td><%= ev.ends_at.to_datetime.strftime("%d/%m/%Y") %></td>

                        <td><b><%= ev.starts_at.to_datetime.strftime("%H:%M") %></b></td>

                        <td><b><%= ev.ends_at.to_datetime.strftime("%H:%M") %></b></td>

                        <td><%= ev.regpara %></td>


                        <td><%= ev.description %></td>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
    </table>
    <br><br>


    <div id="rodape" align="center">
      <%= link_to 'Ver calendario', calendar_index_path %> |
      <%= link_to 'Novo agendamento', new_event_path %>
    </div>
<% end %>