<% if session[:type_id]== 1 %>

    <p id="notice"><%= notice %></p>

    <h1 id="events">Mostrando evento:</h1>

    <% @event = Event.find(params[:id]) %>
        <table id="tab_show_one" cellpadding="8">

        <tr>
            <td>
                <b>Equipamento:</b>
                <% @tipo = Tipo.find(:all) %>
                <% @tipo.each do |t| %>
                    <% if t.id == @event.tipo_id %>
                        <%= t.nome %>
                    <% end %>
                <% end %>
            </td>
        </tr>

        <tr>
            <td>
                <b>Registrado para:</b>
                <%= @event.regpara %>
            </td>
        </tr>

        <tr>
            <td>
                <b>Início em:</b>
                <%= @event.starts_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
            </td>
        </tr>

        <tr>
            <td>
                <b>Término em:</b>
                <%= @event.ends_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
            </td>
        </tr>



        <tr>
            <td>
                <b>Descrição:</b>
                <%= @event.description %>
            </td>
        </tr>
    </table>
    <br><br>
    <div id="rodape">
        <%= link_to 'Voltar', calendar_index_path %>
    </div>
<% elsif session[:type_id] == 0 %>
    <p id="notice"><%= notice %></p>

    <h1 id="events">Mostrando evento</h1>

    <% @event = Event.find(params[:id]) %>
    <table id="tab_show_one" cellpadding="20">

        <tr class="par">
            <td>
                <b>Equipamento:</b>
                <% @tipo = Tipo.find(:all) %>
                <% @tipo.each do |t| %>
                    <% if t.id == @event.tipo_id %>
                        <%= t.nome %>
                    <% end %>
                <% end %>
            </td>
        </tr>



        <tr class="impar">
            <td>
                <b>Registrado para:</b>
                <%= @event.regpara %>
            </td>
        </tr>

        <tr class="par">
            <td>
                <b>Início em:</b>
                <%= @event.starts_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
            </td>
        </tr>

        <tr class="impar">
            <td>
                <b>Término em:</b>
                <%= @event.ends_at.to_datetime.strftime("%d/%m/%Y %H:%M") %>
            </td>
        </tr>


        <tr class="par">
            <td>
                <b>Descrição:</b>
                <%= @event.description %>
            </td>
        </tr>


    </table>
    <br><br>
    <div id="rodape">
        <%= link_to 'Voltar', calendar_index_path %>
    </div>
<% end %>