<%= form_for(@tipo_usuario) do |f| %>
    <% if @tipo_usuario.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tipo_usuario.errors.count, "error") %> prohibited this tipo_usuario from being saved:</h2>

          <ul>
            <% @tipo_usuario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% @user = Usuario.find(:all) %>
    <% @tipo = Tipo.find(:all) %>

    <div class="field">
      <%= f.label :tipo ,"Escolha um equipamento:" %>   <br>
      <%= f.select :tipo_id, Tipo.all.collect{|tipo| [tipo.nome,tipo.id]},:include_blank => true %>
      <%= f.submit "Conceder permissão" %>
    </div>
    <br/><br/>

    <div class="field">
      <%= f.hidden_field :usuario_id, :value => @usuario.id %>
    </div>

    <div class="actions">
      <table border="0">
        <tr>
          <td><%= link_to "Permitir tudo", :action => "permite_tudo", :controller => "usuarios", :id => @usuario.id %></td>
          <td><%= link_to "Tirar todas as permissões", :action => "negar_tudo", :controller => "usuarios", :id => @usuario.id %></td>
        </tr>
      </table>
    </div>
<% end %>

