<table>
  <tr>
    <th>Tipo</th>
    <th>Usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_usuarios.each do |tipo_usuario| %>
  <tr>
    <td><%= tipo_usuario.tipo_id %></td>
    <td><%= tipo_usuario.usuario_id %></td>

  </tr>
<% end %>
</table>

<br />

