<p id="notice"><%= notice %></p>

<p>

  <b>Equipamento:</b>
  <%= @tipo_usuario.tipo_id %>
</p>

<p>
  <b>Usuario:</b>
  <%= @tipo_usuario.usuario_id %>

</p>

<!--< %= link_to 'Voltar', :controller => 'admin', :action => 'ver_usuarios' %> -->
<% if session[:usuario] != nil %>
    <%= link_to 'Voltar', usuarios_path  %>
<% else %>
    <%= link_to 'Voltar', :controller => 'tipo_usuarios', :action => 'new', :id => @tipo_usuario.usuario_id    %>
<% end %>

