<%= form_for(@orientador) do |f| %>
  <% if @orientador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orientador.errors.count, "error") %> impediram esse cadastro:</h2>

      <ul>
      <% @orientador.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>


  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :departamento, "Departamento" %>  <br>
    <%= f.text_field :departamento %>
  </div>


  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>

<% end %>