<h1>Listando orientadores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Departamento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orientadores.each do |orientador| %>
  <tr>
    <td><%= orientador.nome %></td>
    <td><%= orientador.email %></td>
    <td><%= orientador.departamento %></td>
    <td><%= link_to 'Mostrar', orientador %></td>
    <td><%= link_to 'Editar', edit_orientador_path(orientador) %></td>
    <td><%= link_to 'Apagar', orientador, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'Novo Orientador', new_orientador_path %>   </p>
<p><%= link_to "Voltar" , calendar_index_path %> </p>
