<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @orientador.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @orientador.email %>
</p>

<p>
  <b>Departamento:</b>
  <%= @orientador.departamento %>
</p>


<%= link_to 'Editar', edit_orientador_path(@orientador) %> |
<%= link_to 'Voltar', orientadores_path %>
