<%= form_tag :action => "login" %>


<p> E-mail<br>  <%=  text_field_tag "email", params[:email] %></p>

<p> Senha <br> <%= password_field_tag "senha" %></p>

<p><input type="submit" value="Acessar"> </p>

<p><%= link_to "Esqueci a senha", :controller => "senha_resets", :action => "new" %></p>

<p><%= link_to "Criar novo usuario", :controller =>  "usuarios", :action => "new" %></p>