<%= form_for(@usuario) do |f| %>
    <% if @usuario.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@usuario.errors.count, "error") %> impediram esse cadstro :</h2>

          <ul>
            <% @usuario.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :nome %><br />
      <%= f.text_field :nome %>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :laboratorio, "Laboratório" %><br />
      <%= f.text_field :laboratorio %>
    </div>


    <div class="field_autocomplete">
      <%= f.label :orientador %><br />
      <%= f.autocomplete_field :orientador_id, autocomplete_orientador_nome_orientadores_path, :id_element => "#usuario_orientador_id", :id => "tal" %>
      <%= f.hidden_field :orientador_id, :id => "usuario_orientador_id", :name => "usuario[orientador_id]" %>
    </div>

    <div class="field">
      <%= f.label :ramal %><br />
      <%= f.text_field :ramal %>
    </div>

    <% if @usuario.nome == nil || session[:usuario] == nil %>
        <div class="field">
          <%= f.label :password, "Senha" %><br />
          <%= f.password_field :senha %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirmação da Senha" %><br>
          <%= f.password_field :senha_confirmation %>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :type_id, "Tipo de Usuário" %>
      <% if session[:type_id]  == nil %>
          <%= f.select :type_id, ([["Simples", 1]]) %>
      <% elsif  session[:type_id] == 0    %>
          <%= f.select :type_id,([["Simples", 1],["Admin", 0]]) %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit "Enviar" %>
    </div>
<% end %>
