<%=  render partial: 'menu'  %>

<h1>Lista de usuarios</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Laboratório</th>
    <th>Orientador</th>
    <th>Ramal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.nome %></td>
    <td><%= usuario.email %></td>
    <td><%= usuario.laboratorio %></td>
    <td><%= usuario.orientador.nome %></td>
    <td><%= usuario.ramal %></td>
    <td><%= link_to 'Mostrar', usuario %></td>
    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Apagar', usuario, :confirm => 'Tem certeza?', :method => :delete %></td>
    <td><%= link_to 'Alterar permissões', :controller => 'tipo_usuarios', :action => 'new', :id => usuario.id    %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Usuario', new_usuario_path %>
