<p id="notice"><%= notice %></p>



<p>
  <b>Nome:</b>
  <%= @usuario.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Laboratório:</b>
  <%= @usuario.laboratorio %>
</p>

<p>
  <b>Orientador:</b>
  <%= @usuario.orientador.nome %>
</p>

<p>
  <b>Ramal:</b>
  <%= @usuario.ramal %>
</p>


<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<% if session[:usuario].nil? %>
    <%= link_to "Fazer login", login_path %>
<% else %>
    <%= link_to 'Voltar', usuarios_path %>
<% end %>

